.menu {
    display: inline-block;
}

.menu a:hover {
    background-color: #4C5C96;
}

.menu_dropdown {
    position: relative;
    display: inline-block;
}

.menu_dropdown-button {
    cursor: pointer
}

.menu_dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
    right: 0;
}

.menu_dropdown-content a:hover {
    background-color: #4C5C96;
}

.menu_dropdown:hover .menu_dropdown-content {
    display: block;
}